body{
  background-color: blueviolet;
  margin: 0;
  padding:0;
  box-sizing:0;
  
}

header {
  width: 500px;
  height: 250px;
  background-color: rgb(44, 44, 216);

}
input {
  color: rgb(155, 120,320);
  }
  p{
  color: blue;
  }
  p > span {
  color: black;
  }
  hr {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 40px;
    margin-left: 40px;
    margin: 40px 60px 80px 10px;
    margin: 120px 200px;
    margin: 50px 30px 60px;
  }
  .caja{
  padding: 30px 30px;
  width:150px;
  height: 150px;
  background-color: blue;
  margin: 80px;
  border: solid 10px black;
  color: azure;
 }